@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Space Grotesk', system-ui, sans-serif;
}

body {
  background-color: #ffde59;
  /* Bright yellow background */
  background-image: radial-gradient(#000 1px, transparent 1px);
  background-size: 20px 20px;
  color: #000;
  min-height: 100vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #ff00ff;
  border: 3px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccff00;
}